@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

input[readonly] {
  background-color: rgb(235, 235, 228);
}
.css-hlgwow{
  padding: 0px 6px !important;
}
.css-19bb58m{
  margin: 0px !important;
  padding-bottom: 0px !important;
}
/* Default (extra small) - less than 576px */
[class^="col-"] {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
}
.blurred {
  filter: blur(5px);
  pointer-events: none;
}
.dashboard-container {
  position: relative;
}

.login-Bg{
  background-image: url("/images/icons8-whatsapp.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  margin-top: 400px;
}

.popup-content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.jWAaK {
  position: unset !important;
}
.Btn-Regular-4 {
  background: rgb(55, 190, 62);
  border-radius: 20px;
  color: #fff;
  padding: 5px 100px;
  
  text-align: center;
  display: block;
  
}
.load-page-button {
  padding: 0.5rem 1rem;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.load-page-button:hover {
  background: #45a049;
}


@media (min-width: 576px) {
  /* Small screens (≥576px) */
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  /* Medium screens (≥768px) */
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .dashboard_stats .col-md-4 {
    width: 32.5%;
  }
}

@media (min-width: 992px) {
  /* Large screens (≥992px) */
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  /* Extra Large screens (≥1200px) */
  .col-xl-1 {
    width: 8.33333333%;
  }
  .col-xl-2 {
    width: 16.66666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33333333%;
  }
  .col-xl-5 {
    width: 41.66666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33333333%;
  }
  .col-xl-8 {
    width: 66.66666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33333333%;
  }
  .col-xl-11 {
    width: 91.66666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

@media (min-width: 1400px) {
  /* Extra Extra Large screens (≥1400px) */
  .col-xxl-1 {
    width: 8.33333333%;
  }
  .col-xxl-2 {
    width: 16.66666667%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-4 {
    width: 33.33333333%;
  }
  .col-xxl-5 {
    width: 41.66666667%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.33333333%;
  }
  .col-xxl-8 {
    width: 66.66666667%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.33333333%;
  }
  .col-xxl-11 {
    width: 91.66666667%;
  }
  .col-xxl-12 {
    width: 100%;
  }
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

/* murtaza css */
.chart-dashboard {
  width: 100% !important;
}

.msger-inputs{padding: 7px 10px; background: #e6e6e6;}
.chatBarEMoji i {font-size: 27px;}
.msger-inputs .fa-paperclip{font-size: 22px;}
.ClipButton {padding: 0; min-width: 40px; height: 40px; text-align: center; background-color: #333; border-radius: 5px;}
.CommentICon i, .PlaneICon i{font-size: 21px;}
.RecievedImages, .SentImages, .RecievedVideos, .SentVideos {max-height: 250px;}
.ImageDownloadBtn {background: #13af4c; border-radius: 5px; padding: 4px 8px; color: #fff; margin-top: 2px;}
.ImageDownloadBtn i {color: #fff; margin-right: 5px;}

.d-hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.dashboard_stats .col-lg-3 {
  width: 24%;
}
.dashboard_stats .stats {
  margin-right: 5px !important;
  margin-left: 5px;
  border-radius: 0 0 12px 12px;
  border: 1px solid #ddd;
}
.campaign-leftsection,
.templete-leftsection,
.Interactivetemplete-leftsection,

.Updatetemplete-leftsection,
.update-Campaign-leftsection,
.UpdateInteractivetemplete-leftsection {
  max-height: 80vh;
  overflow-y: scroll;
}


::-webkit-scrollbar {
  width: 0px; /* Hides vertical scrollbar by setting its width to 0 */
  height: 8px; /* Sets a visible height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Optional: style for the track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Optional: style for the thumb */
}
.popup_img_container {
  height: 170px;
}
.popup_img_container img {
  height: 170px;
  border: 1px solid #ccc;
}
.modal-content 
.popup_img_container {
  height: 100px;
}
.modal-content .popup_img_container img {
  height: 100px;
  border: 1px solid #ccc;
}
.buPAxp{
  padding: 0 !important;
}

.templete_chatSection,
.Updatetemplete_chatSection,
.UpdateInteractivetemplete_chatSection {
  min-height: 400px;
  overflow-y: scroll;
}

.Interactive_PreviewSection {
  min-height: 400px;
  overflow-y: scroll;
}
.aside {
  padding-bottom: 80px;
}
.stats p {
  margin-bottom: 0;
}
.stats h3 {
  font-size: 18px;
}

.Btn-Regular {
  background: linear-gradient(to right, #25d366, #13af4c);
  border-radius: 10px;
  color: #fff;
  padding: 6px 20px;
}
.Btn-Regular-1 {
  background: #111;
  border-radius: 10px;
  border: 1px solid #111;
  color: #fff;
  padding: 8px 20px;
}
.Btn-Regular-2 {
  background: #007bff;
  border-radius: 10px;
  border: 1px solid #111;
  color: #fff;
  padding: 8px 20px;
}
.Btn-Regular-3 {
  background: #ff0000;
  border-radius: 10px;
  color: #fff;
  padding: 8px 20px;
  text-align: center;
  display: block;
  
}
.ChatPopUp {max-height: 350px;overflow-y: scroll;}
.ChatPopUpFull {min-width: 500px; border: 1px solid #ddd; z-index: 999;}
.headerchatmenu {padding: 3px;}
.menuitem {font-size: 15px;}
.ButtonUserName{width: 100% !important; }
.chat-item {border-bottom: 1px solid #eee; border-top: 1px solid #eee;}
.MainContainer {margin-top: 13px;}
.right-sidebar-chat {padding: 0px;}
.ChatHeader {background: #eee; border-bottom: 1px solid #ccc;}
.messageText {margin-bottom: 0;}


@media (max-width: 1100px) {
  .dashboard_stats .stats {
    margin-right: 3px !important;
    margin-left: 3px;
  }
  .stats p {
    font-size: 14px;
    margin-bottom: 0;
  }
  .stats h3 {
    font-size: 14px;
  }
  .pcoded-wrapper {
    width: 210px !important;
  }
 
  .aside li {
    font-size: 14px;
  }
  .menuitem {font-size: 14px;display: block !important; margin-left: 5px !important;text-align: center; }
  .menuitem span {white-space: nowrap;}
  .menuitem svg {text-align: center;         margin: auto; }
  .menuitemButton {margin-left: 30px !important;}
  .MainContainer {margin-top: 13px;}
.ChatPopUp {max-height: 350px;overflow-y: scroll; height: 300px;}
  
}

.status-container {
  position: relative;
  display: inline-block;
}

.status-button {
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.status-icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: fit-content;
  margin-top: 5px;
}

.dropdown.active {
  display: block;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #f3f3f3;
}
@media (max-width: 991px) {
  .stats h3 {
    font-size: 13px;
  }
  .Action_table{
    display: block ;
  }
  .HeaderChatmenuItemBar {display: inline-block !important;}
 .menuitem {display: inline-block !important; width: 19%;}
 .menuitem svg {display: none; }

 /* .ButtonUserName {position: absolute; right: 0; top: -20px;} */
}
.Action_Button{
  margin:0px 1px 0px 1px;
 }
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 0 !important;
}

.page-item {
  display: inline-block;
  margin-right: 0.5rem;
}

.page-link {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  color: #007bff;
  text-decoration: none;
}

.page-link.active {
  background-color: #007bff;
  color: white;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 40px !important;
}

.select2-container .select2-selection--single {
  height: 46px !important;
}
.hide-messages {
  visibility: hidden; /* Hides the messages but keeps the space */
  opacity: 0; /* Makes the messages transparent */
  transition: opacity 0.3s ease;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 10px !important;
  display: none;
}
.pad{
  padding: 0 !important;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__clear {
  height: 45px !important;
  display: none;
}

.select2-container--default .select2-selection--single {
  border-color: rgb(209 213 219 / 1) !important;
  border-width: 1px !important;
  border-radius: 5px !important;
}

ul {
  padding: 10px !important;
}

.uniform_btn {
  height: 40px;
  width: fit-content;
  padding: 0 20px;
  border-radius: 4px;
  color: white;
  background: linear-gradient(45deg, rgb(14, 94, 174), midnightblue);
}
.uniform_btn_Cancel {
  height: 40px;
  width: fit-content;
  padding: 0 20px;
  border-radius: 4px;
  color: white;
  background: linear-gradient(45deg, rgb(123, 127, 131), rgb(77, 77, 83));
}

.uniform_icon_btn {
  height: 30px;
  width: fit-content;
  padding: 0 7px;
  border-radius: 4px;
  color: white;
  background: linear-gradient(45deg, rgb(14, 94, 174), midnightblue);
}

.active > .page-link,
.page-link.active {
  color: #fff !important;
  background: linear-gradient(45deg, rgb(14, 94, 174), midnightblue);
  border: none;
}

.bg_uniform {
  background: linear-gradient(45deg, rgb(14, 94, 174), midnightblue);
}

.page-link {
  color: black !important;
}

input {
  height: 46px;
}

.rdw-editor-main {
  background: #fff;
  border: 1px solid #e2e2e2;
  box-shadow: 0 1px 1px lightgrey;
  padding: 2px 10px;
}

.time_bubble {
  position: absolute;
  bottom: 1px;
  right: 5px;
  font-size: 12px;
  color: grey;
}
.chat-time {
  display: flex;
  gap: 10px;
  align-items: center;
  > div {
    text-align: left;
    [data-theme="dark"] & {
      color: var(--light-font);
    }
  }
}

.eQyGlE{
  padding: 0 !important;
}
.active-profile {
  position: relative;
  img {
    width: 42px;
    height: 42px;
    @media (max-width: 1650px) {
      width: 33px;
      height: 33px;
    }
  }
}

.form-control-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
}

.chats-user {
  border-bottom: unset;
  height: 625px;
  overflow-y: auto;
  li {
    gap: 10px;
    width: 100%;
    border-bottom: 1px solid var(--chart-dashed-border);
    cursor: pointer;
    padding: 11px;
    &:hover {
      background-color: var(--light2);
      [data-theme="dark"] & {
        background-color: var(--body-color);
      }
    }
    @media (max-width: 1505px) {
      gap: 1px;
    }
    &:last-child {
      border-bottom: unset;
    }
    .chat-time {
      display: flex;
      gap: 10px;
      align-items: center;
      > div {
        text-align: left;
        [data-theme="dark"] & {
          color: var(--light-font);
        }
      }
    }
    > div {
      @media (max-width: 1498px) {
        width: 100%;
        text-align: end;
      }
    }
  }
}

.common-space {
  padding: 11px 0;
  p {
    margin: 0;
    color: rgba(0.8);
    color: var(--light-font);
  }
  .header-top {
    .btn {
      padding: 6px 12px;
    }
  }
}

.height-chat-box {
  height: 710px;
}

.chat-background {
  background-image: url("/images/bgimg.jpg");
  background-size: contain; /* Adjusts the image to fit the container */
  background-position: center;
  background-repeat: repeat; /* Prevents repeating */
}

.bg-\[\#820000\] {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity, 1));
}

.kNmaMh svg {
  display: none !important;
}

.ZnHyK {
  min-height: 38px !important;
}
.beFTpn {
  min-height: 38px !important;
}
.bPJoyy {
  min-height: 38px !important;
}
.eVseGL {
  min-height: 38px !important;
}
.kYkUor {
  min-height: 38px !important;
}
.MarginBOt {
  margin-bottom: 0 !important;
}

.marginbot {
  margin-top: 40px /* 48px */;
}
.w-500 {
  width: 500px;
}

.bWLRyr {
  padding: 0 !important;
}

.select2-container--default .select2-selection--multiple {
  padding: 0 !important;
  display: flex !important;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fade-in 1s ease-in-out;
  }
}

.chat_bubble::after {
  content: "";
  width: 0 !important;
  height: 0 !important;
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important;
  border-right: 12px solid #ffff !important;
  top: 0px !important;
  left: -9px !important;
  position: absolute;
}

.eaTJZj {
  padding: 0 !important;
}
